@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600');
@import 'normalize.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 60px;
}

/* https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3 */
html,
body {
  height: 100%;
}

.Site {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #333;
}

.Site-content {
  flex: 1 0 auto;
}

.Site-grid {
  max-width: 1400px;
  margin: 0 auto;
}

.Header {
  background: purple url('images-bg/lila_pattern.png') center center repeat;
  color: white;
  margin-bottom: 30px;
  padding: 50px 0;
}

.Header-tagline {
  font-size: 30px;
}

.Footer {
  background-color: black;
  color: #eee;
  padding: 50px;
  margin-top: 30px;
}
